.todosMain {
  background: red;
  .todosActions {
    &>* {
      margin: 0.5rem;
    }
    &>label {
      &>* {
        margin: 0.5rem;
      } 
    }
  }
  
  .todosTask {
    list-style-type: none;
  }
  
  .todosTask label[data-done="true"] {
    color: green;
  }
  
  .todosTasks {
    padding-left: 0;
  }
  
  select,label {
    margin: 0.5rem;
  }
  
  .todosTask [data-public="true"] {
    font-weight: 600;
  }
  
  span.newTaskBadge:before {
    content: 'new!';
    color: lightgreen;
    font-size: 0.8rem;
    vertical-align: top;
  }
  


// ---------------------------------

}